<div class="card-container">
    {{!-- post --}}
    <div class="post-card" id="card">
        <p class="post-title" id="title-text"><strong>{{post.title}}</strong></p>
        <p class="post-info">—<span class="username">{{post.user.username}}</span>, <strong>{{format_date
                post.createdAt}} </strong></p>
        <br>
        <div class="post-body" id="body-text">
            {{post.post_body}}
        </div>

        {{#if post.myBlog}}
        <div class="btn-container">
            <button type="submit" class="submit-btn" id="update-btn" data-id={{post.id}}>UPDATE</button>
            <button type="submit" class="submit-btn" id="delete-btn">DELETE</button>
        </div>

        <script src="/js/deletePost.js"></script>
        <script src="/js/updatePost.js"></script>
        {{/if}}

        {{#if loggedIn}}
        {{!-- line break to separate post and comments --}}
        <hr>

        <div class="comment-container" id="comment-card">
            {{!-- show title if comment(s) exists, otherwise just show form --}}
            {{#if comments}}
            <p class="comment-title"><strong>Comments</strong></p>
            {{/if}}

            {{!-- existing comments --}}
            {{#each comments}}
            {{> card-comment}}
            {{/each}}

            {{!-- comment form --}}
            <form id="comment-form">
                <div>
                    <br>
                    <label class="med-yellow-title" for="comment">Leave a comment</label> <br>
                    <textarea id="comment" rows="3"></textarea>
                    <div class="btn-container">
                        <button type="submit" class="submit-btn">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/newComment.js"></script>
        <script src="/js/deleteComment.js"></script>
        <script src="/js/updateComment.js"></script>
        <script src="/js/postId.js"></script>
        {{else}}
        <a href="/login" class="med-yellow-title">Log in to comment!</a>
        {{/if}}
    </div>
</div>